
<template>
  <v-card max-width="600px" class="mx-auto my-12">
    <v-card-title> <h2>Add New Item</h2></v-card-title>

    <v-card-text>
      <form @submit.prevent="submit(addData)">
        <v-text-field
          label="Id"
          color="#6200EA"
          v-model="addData.id"
          prepend-icon="key"
          required
        ></v-text-field>

        <v-text-field
          label="Name"
          color="#6200EA"
          v-model="addData.name"
          prepend-icon="drive_file_rename_outline"
          required
        ></v-text-field>

        <v-select
          v-show="show"
          :items="CategoryItems"
          color="#6200EA"
          v-model="addData.category"
          active-class="deep-purple accent-4"
          label="Category"
          prepend-icon="category"
        ></v-select>

        <v-textarea
          color="#6200EA"
          rows="3"
          label="Description"
          v-model="addData.description"
          prepend-icon="description"
          required
        ></v-textarea>

        <v-layout row wrap class="ma-1">
          <v-flex sm8>
            <v-text-field
              label="Price"
              v-show="show"
              color="#6200EA"
              v-model="addData.price"
              prepend-icon="money"
              :required="show"
            ></v-text-field>
          </v-flex>
          <v-flex sm4>
            <v-select
              v-show="show"
              :items="CurrencyItems"
              color="#6200EA"
              v-model="addData.currency"
              active-class="deep-purple accent-4"
              label="Currency"
            ></v-select>
          </v-flex>
        </v-layout>

        <v-row>
          <v-switch
            v-model="addData.status"
            label="Status : "
            color="#6200EA"
            @change="changeSwitch()"
          ></v-switch>
          <v-input
            hint="Inactive"
            persistent-hint
            :messages="statusHint"
            class="mt-5 ml-3"
          ></v-input>
        </v-row>

        <div class="btn">
          <v-btn type="submit" class="deep-purple--text text--darken-5">
            submit
          </v-btn>
        </div>
      </form>
    </v-card-text>
  </v-card>
</template>
<script>
import { mapState } from "vuex";
import mixins from "../mixins/mixins";

export default {
  name: "AddItem",
  mixins: [mixins],
  data() {
    return {
      switchStatus: false,
    };
  },

  computed: {
    ...mapState({
      show: "itemShow",

      addData: "itemAddData",
      allData: "itemsAllData",
    }),
    ...mapState({
      CurrencyItems: "CurrencyItems",
      CategoryItems: "CategoryItems",
    }),
  },

  methods: {
    submit() {
      if (this.addData.status == false) {
        this.addData.status = "Inactive";
      } else {
        this.addData.status = "Active";
      }
      this.allData.push(this.addData);

      alert("Data is Added");
      this.$router.push("/AllItems");
    },
  },
};
</script>
