<template>
  <div class="table">
    <v-data-table
      :headers="headers"
      :items="allData"
      sort-by="id"
      class="elevation-5 ma-16 caption"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title class="font-weight-bold">AllItems</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn color="success" dark class="mb-2" @click="Gotoadditem()">
            <v-icon left>add</v-icon>
            <span>Add</span>
          </v-btn>
        </v-toolbar>
      </template>

      <template v-slot:[`item.price`]="{ item }">
        {{ item | changecurrency }}
      </template>

      <template v-slot:[`item.status`]="{ item }">
        <h4 v-textColor="item.status">
          {{ item.status }}
        </h4>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <span class="mr-2 actions">
          <edit-pop-up :show="show" :data="item" />
        </span>
        <!-- <v-icon
          class="success--text text--lighten-1 actions"
          @click="editData(data)"
        >
          edit
        </v-icon> -->
        <v-icon
          class="red--text text--lighten-1 actions"
          @click="deleteData(item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import EditPopUp from "@/components/EditPopUp.vue";
import { mapActions, mapState } from "vuex";
import mixins from "../mixins/mixins";

export default {
  components: { EditPopUp },
  name: "AllItems",
  mixins: [mixins],

  computed: {
    ...mapState({
      show: "itemShow",

      headers: "itemsHeaders",

      allData: "itemsAllData",
    }),
  },
  methods: {
    ...mapActions({
      deleteItemData: "deleteItemData",
    }),
    Gotoadditem() {
      this.$router.push("/AddItem");
    },
  },
};
</script>