<template>
  <v-dialog max width="600px" persistent v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-icon color="success" dark v-bind="attrs" v-on="on">
        mdi-pencil
      </v-icon>
    </template>
    <v-card>
      <v-card-title>
        <span> Update Data </span>
      </v-card-title>
      <v-card-text>
        <v-text-field
          label="Id"
          v-model="item.id"
          color="#6200EA"
          prepend-icon="key"
        ></v-text-field>

        <v-text-field
          label="Name"
          color="#6200EA"
          v-model="item.name"
          prepend-icon="drive_file_rename_outline"
          required
        ></v-text-field>

        <v-select
          v-show="show"
          :items="CategoryItems"
          color="#6200EA"
          v-model="item.category"
          active-class="#6200EA"
          label="Category"
          prepend-icon="category"
        ></v-select>

        <v-textarea
          color="#6200EA"
          rows="3"
          label="Description"
          v-model="item.description"
          prepend-icon="description"
          required
        ></v-textarea>

        <v-layout row wrap class="ma-1">
          <v-flex sm8>
            <v-text-field
              label="Price"
              v-show="show"
              color="#6200EA"
              v-model="item.price"
              prepend-icon="money"
            ></v-text-field>
          </v-flex>
          <v-flex sm4>
            <v-select
              v-show="show"
              :items="CurrencyItems"
              color="#6200EA"
              v-model="item.currency"
              active-class="#6200EA"
              label="Currency"
            ></v-select>
          </v-flex>
        </v-layout>

        <v-row class="mt-2 ml-3">
          <v-switch
            v-model="item.status"
            label="Status : "
            color="#6200EA"
            @change="changeSwitch()"
          ></v-switch>
          <v-input
            hint="Inactive"
            persistent-hint
            :messages="statusHint"
            class="caption body-2 pa-5"
          ></v-input>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="#6200EA" text @click="editData(data)"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapState } from "vuex";
import mixins from "../mixins/mixins";

export default {
  name: "EditPopUp",
  props: ["show", "data"],
  mixins: [mixins],
  data: () => ({
    dialog: false,
    switchStatus: false,
  }),

  computed: {
    ...mapState({
      CurrencyItems: "CurrencyItems",
      CategoryItems: "CategoryItems",
      allData: "categoriesAllData",
      item() {
        return this.data;
      },
    }),
  },
  methods: {
    editData(data) {
      if (this.allData.status == false) {
        this.allData.status = "Inactive";
      } else {
        this.allData.status = "Active";
      }
      if (data.status == false) {
        data.status = "Inactive";
      } else {
        data.status = "Active";
      }
      this.dialog = false;
      alert("Your data is updated.");
    },
  },
  updated() {
    // for switch
    if (this.dialog == true) {
      if (this.item.status == "Active") {
        this.item.status = true;
        this.switchStatus = true;
      }
      if (this.item.status == "Inactive") {
        this.item.status = false;
        this.switchStatus = false;
      }
    }
  },
};
</script>