<template>
  <div>
    <div class="list">
      <v-list dense>
        <v-list-item-group active-class="deep-purple--text text--accent-4">
          <v-list-item>
            <v-list-item-icon>
              <v-icon>home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>
              <router-link to="/" class="routerlink">Home</router-link>
            </v-list-item-title>
          </v-list-item>
          <v-list-group>
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  <v-icon class="mr-5">category</v-icon>
                  Category
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item>
              <v-list-item-icon>
                <v-icon class="ml-5">list</v-icon>
              </v-list-item-icon>
              <v-list-item-title>
                <router-link to="/AllCategories" class="routerlink"
                  >All Categories</router-link
                >
              </v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon class="ml-5">add</v-icon>
              </v-list-item-icon>
              <v-list-item-title>
                <router-link to="/AddCategories" class="routerlink"
                  >Add New Category</router-link
                >
              </v-list-item-title>
            </v-list-item>
          </v-list-group>
          <v-list-group>
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  <v-icon class="mr-5">widgets</v-icon>
                  Item
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item>
              <v-list-item-icon>
                <v-icon class="ml-5">list</v-icon>
              </v-list-item-icon>
              <v-list-item-title>
                <router-link to="/AllItems" class="routerlink"
                  >All Items</router-link
                >
              </v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon class="ml-5">add</v-icon>
              </v-list-item-icon>
              <v-list-item-title>
                <router-link to="/AddItem" class="routerlink"
                  >Add New Item</router-link
                >
              </v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list-item-group>
      </v-list>
    </div>
  </div>
</template>

<script>
export default {
  name: "LeftMenu",
};
</script>

<style scoped>
.routerlink {
  text-decoration: none;
  color: #272727;
  display: block;
}
.routerlink:hover {
  color: #6200ea;
}
/* .list {
  padding-top: 30px;
  display: block;
  width: 250px;
  height: 90vh;
  border-right: 1px solid #ccc;
} */
</style>