<template>
  <nav>
    <v-toolbar color="deep-purple accent-4" dark flat app>
      <v-app-bar-nav-icon
        class="white--text"
        @click="drag = !drag"
      ></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase white--text">
        <span class="font-weight-light">Inventory</span>
        <span>System</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="deep-purple accent-4"
            dark
            class="white--text mr-7"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon left>expand_more</v-icon>

            <span>Menu</span>
          </v-btn>
        </template>
        <v-list>
          <v-list-item router to="/">
            <v-list-item-title class="mx-2"> Home </v-list-item-title>
          </v-list-item>
          <v-list-item router to="/AllCategories">
            <v-list-item-title class="mx-2"> All Categories </v-list-item-title>
          </v-list-item>
          <v-list-item router to="/AllItems">
            <v-list-item-title class="mx-2"> All Items </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-toolbar-title>
        <div class="logo mx-16">
          <v-icon class="icon">inventory</v-icon>
        </div>
      </v-toolbar-title>
    </v-toolbar>

    <v-navigation-drawer v-model="drag" flot app temporary>
      <left-menu />
    </v-navigation-drawer>
  </nav>
</template>


<script>
import LeftMenu from "./LeftMenu.vue";

export default {
  name: "NavBar",
  data() {
    return {
      drag: false,
    };
  },
  components: {
    "left-menu": LeftMenu,
  },
};
</script>

