<template>
  <v-app class="grey lighten-4">
    <nav-bar />
    <v-main class="mx-4 mb-4" app>
      <router-view> </router-view>
    </v-main>
  </v-app>
</template>

<script>
import NavBar from "./components/NavBar.vue";

export default {
  name: "App",
  components: { NavBar },
  data() {
    return {};
  },
};
</script>
